{% extends "base.html" %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    {% if name %}
        <h2 class="mt-5 text-center">Hello {{ name|capitalize }}</h2>
        <h3>User Added!</h3>
        <br>
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
            <tr>
                <td>{{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2 class="mb-5 mt-5 text-center">User List:</h2>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}

                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}

                {{ form.submit(class="btn btn-secondary mt-2") }}
            </form>
        </div>
        <br>
        <table class="table table-hover table-striped">
            {% for our_user in our_users %}
            <tr>
                <td>{{ our_user.id }}</td>
                <td>{{ our_user.name }}</td>
                <td>{{ our_user.email }}</td>
                <td>{{ our_user.date_added }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

