{% extends "base.html" %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    {% if name %}
        <h2 class="mt-5 text-center">Hello {{ name|capitalize }}</h2>
    {% else %}
        <h2 class="mb-5 mt-5 text-center">User List:</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {{ form.submit(class="btn btn-secondary mt-2") }}
        </form>
        <br><br><br>

        {% for our_user in our_users %}
        {{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }} - {{ our_user.date_added }} <br>
        {% endfor %}
    {% endif %}
{% endblock %}

